html {
    background-color: var(--light-purple);
    display: flex;
    flex-direction: column;
    align-content: stretch;

    height: 100%;
    width: 100%;
}
body {
    flex: 1;

    background-color: var(--dark-purple);
    margin: 6vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-family: 'Commodore-64';

    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.content {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    max-height: 80vh;

    overflow: auto;
    min-height: 100%;
}
input, textarea {
    font-family: inherit;
}

@font-face {
    font-family: 'Commodore-64';
    src: url('font/C64_Pro-STYLE.ttf') format('woff2');
}

@font-face {
    font-family: 'C64Mono';
    src: url('font/C64_Pro_Mono-STYLE.ttf') format('woff2')
}

:root {
    --white: #ffffff;
    --blue: #70a4b2;
    --dark-purple: #352879;
    --purple: #6f3d86;
    --light-purple: #6c5eb5;
    --dark-brown: #433900;
    --light-brown: #6f4f25;
    --medium-grey: #6c6c6c;
    --dark-grey: #444444;
    --light-grey: #959595;
    --light-green: #9AD284;
    --dirt-brown: #68372B;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--blue) var(--light-grey);
    /*scrollbar-color: rgb(0, 0, 170) rgb(124, 113, 218);*/
}

*::-webkit-scrollbar {
    width: 0.7vw;
    height: 1vh;
}
*::-webkit-scrollbar-track {
    background: var(--blue);
}
*::-webkit-scrollbar-thumb {
    background: var(--light-grey);
}
/* *::-webkit-scrollbar-thumb:hover {
    background: var(--light-grey);
} */

button {
    font-family: "C64Mono";
    text-align: center;
    background-color: var(--white);
    border-width: 6px;
    border-style: solid;
    border-color: #000000;
    height: 5vw;
    margin: 0.7vw;
    padding-left: 1vw;
    font-size: 2.3vw;
}
/* button:hover {
    cursor: pointer;
    background-color: rgb(138, 126, 241);
} */
button:active {
    background-color: var(--light-grey);
}
button:disabled {
    cursor: not-allowed;
    background-color: var(--medium-grey);
}
button.selected {
    background-color: var(--light-grey);
}

#btn-circular {
    width: 21vw;
    font-size: 2.35vw;
}
#btn-rectangle {
    width: 24vw;
    font-size: 2.35vw;
}
#btn-branch {
    width: 17vw;
    font-size: 2.35vw;
}
#btn-generate {
    width: 26vw;
    font-size: 3vw;
    justify-content: center;
    display: flex;
    align-self: center;
    padding-top: 0.6vh;
}
.btn-back, .btn-delete {
    width: 15vw;
    height: 5vw;
    font-size: 3vw;
}
.btn-delete {
    margin-right: 6vw;
    width: 20vw;
}

#preview-btn {
    width: 20vw;
}

label {
    font-size: 2vw;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
}
input[type=number], input[type=text] {
    color: var(--dark-purple);
    background-color: var(--light-purple);
    border-style: none;
    appearance: textfield;
    outline: none;
    margin: 0.5vw;
    width: 10vw;
    font-size: 1.3vw;
}

input[type=text] {
    height: 3.5vh;
    width: 26vw;
}
::placeholder {
    color: unset;
    opacity: 0.6;
}

input[type=checkbox] {
    appearance: none;
    --size: 1.5vh;
    width: var(--size);
    height: var(--size);
    background-color: var(--white);
    border: 2px solid var(--white);
}

input[type=checkbox]:checked {
    background-color: var(--blue);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.title {
    text-align: center;
    margin-top: 2vh;
    font-size: 3vw;
    /* background-color: #959595; */
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.title-load {
    text-align: center;
    margin-top: 2vh;
    font-size: 3vw;
    background-color: var(--dark-purple);
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.type {
    margin-right: 3vw;
    margin-left: 10vw;
    font-size: 3vw;
}
.name {
    font-size: 2.7vw;
    margin-left: 9.4vw;
    margin-bottom: 1.5vh;
}

.top-row, .top-row-load {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.top-row-load {
    border-top-style: none;
    justify-content: end;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 1vh;
}

.middle-row, .middle-row-load {
    flex: 1;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    margin: 10px;
}

.middle-row-load {
    align-items: stretch;
    border-style: solid;
    border:6px solid #000000;
    padding: 6px;
    background-color: var(--white);
    overflow: auto;
}
/* A div that allows flexing vertically */
.middle-row-load > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
/* The actual column data container should grow vertically */
.middle-row-load > div > div {
    flex: 1;
}

.middle-row > .controls {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.middle-row > .controls > .configs {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.middle-row > .controls > .configs > .labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.middle-row .preview-container {
    flex: 1;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}
.middle-row .preview-container h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 2vw;
}
.middle-row .preview-container .preview-display {
    flex: 1 1 auto;
    align-self: stretch;
    height: 0;

    display: flex;
    justify-content: stretch;
    align-content: stretch;
    flex-direction: row;

    overflow: auto;
}

#row-container:not(.view) {
    flex: 1 1 auto;
    align-self: stretch;

    width: 0;
    padding: 10px;
    max-height: 80%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-style: solid;
    border-color: var(--dirt-brown);
    background-color: var(--light-green);
    border-width: 8px;
}
.middle-row [data-require-world]:not(.enabled) {
    visibility: hidden;
    max-height: 0;
}

#row-container.view {
    flex: 1 1 auto;
    align-self: stretch;

    padding: 10px;
    max-height: 70%;
    min-height: 50%;
    overflow: auto;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-style: solid;
    border-color: var(--dirt-brown);
    background-color: var(--light-green);
    border-width: 8px;
    margin-left: 8vw;
    margin-right: 8vw;
}

/* Configure rows: */
#row-container > .spacer,
#row-container > .row {
    display: flex;
}
#row-container > .spacer,
#row-container > .row {
    max-height: 14px;
}
.row {
    flex: 1;
}

/* Configure columns: */
.row > .room,
#row-container > .spacer > .spacer-room {
    flex: 1;
}
.row > .room {
    background-color: var(--light-brown);
}
.row > .room.selected {
    background-color: var(--dark-brown);
}
.row > .room.blocked {
    /*background-color: #433900;*/
    opacity: 0;
}
#row-container > .spacer > .spacer-room,
#row-container > .row > .room {
    max-width: 14px;
}
/* Horizontal path */
.row > .spacer {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;
}
.row > .spacer::after {
    content: "";
    flex: 1 1 auto;
    min-height: 0;
    max-height: 5px;
    background-color: #444444;
    opacity: 0;
}
.row > .spacer.has-path::after {
    opacity: 1;
}
/* Vertical path */
#row-container .spacer > .spacer-room {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: row;
}
#row-container > .spacer > .spacer-room::after {
    content: "";
    flex: 1 1 auto;
    min-width: 0;
    max-width: 5px;
    background-color: #444444;
    opacity: 0;
}
#row-container > .spacer > .spacer-room.has-path::after {
    opacity: 1;
}

/* Both rows and columns: */
.spacer {
    flex: 0.25;
}
.spacer::after,
.spacer-room::after {
    transition: none;
}
/* End of preview and view */

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
    overflow: none;
    background-color: #000000;
    gap: 10px;
    height: 60%;
    margin: 14px auto 0;
    padding: 14px;
    border: 6px solid var(--medium-grey);
}

.logo p {
    margin: 0;
    font-family: 'C64Mono';
    color:white;
}

.word {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    overflow: none;
}

.letter {
    white-space: nowrap;
}

.menu-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 100px;
}

.menu-btn {
    width: 220px;
    height: 120px;
    font-size: xx-large;
    font-family: 'Commodore-64';
}

#circle-inputs, #branch-inputs, #square-inputs{
    display: flex;
    flex-direction: row;
}

.world-inputs {
    display: flex;
    flex-direction: column;
}

.world-header {
    text-align: center;
    margin-top: 2vh;
    font-size: 3vw;
    /* background-color: #959595; */
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*flex: 1 1 auto;*/
    align-items: center;
    height: 5vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.name-data-label {
    margin-right: 26.4vw;
}
.type-data-label {
    margin-right: 5.6vw;
}

table {
    table-layout: fixed;
    width: 100%;
}
.column-separator-right {
    border-right-style: dashed;
    border-color: #000000;
}
.world-data-column {
    display: table;
    table-layout: fixed;
    flex-direction: column;
    display: flex;
    text-align: center;
}

.edit-buttons > * {
    margin: 0;
}

.edit-buttons {
    display: none;
}

.edit-buttons.on {
    display: block;
}

.room-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

#room-display {
    visibility: hidden;
    /*text-align: center;*/
    background-color: var(--white);
    border: 4px solid #000000;
    margin: 5px auto;
    padding: 0 1.5vw;
    min-width: 41.5vw;
    max-width: 69vw;
    max-height: 10vh;
    /*min-height: 10vh;*/
    flex: 1 1 auto;
    word-wrap: break-word;
    overflow-y: auto;
}

#room-display.on {
    display: block;
}

#room-display-name {
    margin-bottom:5px;
    margin-top: 6px;
    text-align: center;
    white-space: break-spaces;
}

.room-info p {
    margin: 0;
}

/* #pathfinder-display p{
    margin-bottom: 0;
}

 #Pathfinder-selectS, #Pathfinder-selectE, #pathfinder-results {
    display: none;
}

#Pathfinder-selectS.on, #Pathfinder-selectE.on, #pathfinder-results.on {
    display: block;
} */

div .found-path-room-highlighting {
    background-color: var(--light-purple) !important;
}
div .found-path-spacer-highlighting {
    background-color: var(--white) !important;
}