html {
    background-color: rgb(124, 113, 218);
    display: flex;
    flex-direction: column;
    align-content: stretch;

    height: 100%;
    width: 100%;
}
body {
    flex: 1;

    background-color: rgb(62, 50, 162);
    margin: 6vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-family: 'Commodore-64';

    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.content {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    max-height: 80vh;

    overflow: auto;
    min-height: 100%;
}
input, textarea {
    font-family: inherit;
}

@font-face {
    font-family: 'Commodore-64';
    src: url('font/C64_Pro-STYLE.ttf') format('woff2');
}

@font-face {
    font-family: 'C64Mono';
    src: url('font/C64_Pro_Mono-STYLE.ttf') format('woff2')
}


* {
    scrollbar-width: thin;
    scrollbar-color: rgb(0, 0, 170) rgb(124, 113, 218);
}

*::-webkit-scrollbar {
    width: 0.7vw;
    height: 1vh;
}
*::-webkit-scrollbar-track {
    background: rgb(124, 113, 218);
}
*::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 170);
}
*::-webkit-scrollbar-thumb:hover {
    background: rgb(25, 25, 177);
}

button {
    font-family: "C64Mono";
    text-align: center;
    background-color: #FFFFFF;
    border-width: 6px;
    border-style: solid;
    border-color: #000000;
    height: 5vw;
    margin: 0.7vw;
    padding-left: 1vw;
    font-size: 2.3vw;
}
/* button:hover {
    cursor: pointer;
    background-color: rgb(138, 126, 241);
} */
button:active {
    background-color: #6C6C6C;
}
button:disabled {
    cursor: not-allowed;
    background-color: #444444;
}
button.selected {
    background-color: #6C6C6C;
}

#btn-circular {
    width: 17vw;
}
#btn-rectangle {
    width: 23vw;
}
#btn-branch {
    width: 17vw;
}
#btn-generate {
    width: 25vw;
    height: 9vh;
    font-size: 3vw;
    justify-content: center;
    display: flex;
    align-self: center;
    padding-top: 0.6vh;
    padding-right: 0.9vw;
}
.btn-back {
    width: 15vw;
    height: 5vw;
    font-size: 3vw;
}

label {
    font-size: 2vw;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
}
input[type=number] {
    color: rgb(62, 50, 162);
    background-color: rgb(124, 113, 218);
    border-style: none;
    appearance: textfield;
    outline: none;
    margin: 0.5vw;
    width: 10vw;
    font-size: 1.3vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.create {
    text-align: center;
    margin-top: 2vh;
    font-size: 3vw;
    /* background-color: #959595; */
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}
.type {
    margin-right: 3vw;
    margin-left: 10vw;
    font-size: 3vw;
}

.top-row {
    display: flex;
    flex-flow: row;
    align-items: center;
}
.middle-row {
    flex: 1;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    margin: 10px;
}
.middle-row > .controls {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.middle-row > .controls > .configs {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.middle-row > .controls > .configs > .labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.middle-row .preview-container {
    flex: 1;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    align-content: stretch;
}
.middle-row .preview-container h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 2vw;
}
.middle-row .preview-container .preview-display {
    flex: 1 1 auto;
    align-self: stretch;
    height: 0;

    display: flex;
    justify-content: stretch;
    align-content: stretch;
    flex-direction: row;

    overflow: auto;
}

#row-container {
    flex: 1 1 auto;
    align-self: stretch;

    width: 0;
    padding: 10px;
    max-height: 80%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-style: solid;
    border-color: #68372B;
    background-color: #9AD284;
    border-width: 8px;
}
.middle-row [data-require-world]:not(.enabled) {
    visibility: hidden;
    max-height: 0;
}


#row-container-view {
    flex: 1 1 auto;
    align-self: stretch;

    padding: 10px;
    max-height: 70%;
    min-height: 50%;
    overflow: auto;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-style: solid;
    border-color: #68372B;
    background-color: #9AD284;
    border-width: 8px;
    margin-left: 8vw;
    margin-right: 8vw;
}

/* Configure rows: */
#row-container > .spacer,
.row {
    display: flex;
    max-height: 14px;
}
.row {
    flex: 1;
}

/* Configure columns: */
.row > .room,
#row-container > .spacer > .spacer-room {
    flex: 1;
}
.row > .room {
    background-color: #6F4F25;
}
.row > .room.blocked {
    background-color: #433900;
}
#row-container > .spacer > .spacer-room,
.row > .room {
    max-width: 14px;
}
/* Horizontal path */
.row > .spacer {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;
}
.row > .spacer::after {
    content: "";
    flex: 1 1 auto;
    min-height: 0;
    max-height: 5px;
    background-color: #444444;
    opacity: 0;
}
.row > .spacer.has-path::after {
    opacity: 1;
}
/* Vertical path */
#row-container .spacer > .spacer-room {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: row;
}
#row-container > .spacer > .spacer-room::after {
    content: "";
    flex: 1 1 auto;
    min-width: 0;
    max-width: 5px;
    background-color: #444444;
    opacity: 0;
}
#row-container > .spacer > .spacer-room.has-path::after {
    opacity: 1;
}

/* Both rows and columns: */
.spacer {
    flex: 0.25;
}
.spacer::after,
.spacer-room::after {
    transition: 0.2s;
}
/* End of preview */

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
    overflow: none;
    /* background-color: #6C6C6C; */
    gap: 10px;
    height: 60%;
    margin: 14px auto 0;
    padding: 14px;
    background-color: #FFFFFF;
    border: 6px solid #000000;
}

.logo p {
    margin: 0;
    font-family: 'C64Mono';
}

.word {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    overflow: none;
}

.letter {
    word-wrap: none;
}

.menu-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 100px;
}

.menu-btn {
    width: 220px;
    height: 120px;
    font-size: xx-large;
    font-family: 'Commodore-64';
}

#circle-inputs, #branch-inputs, #square-inputs{
    display: flex;
    flex-direction: row;
}

.world-inputs {
    display: flex;
    flex-direction: column;
}

.world-header {
    text-align: center;
    margin-top: 2vh;
    font-size: 3vw;
    /* background-color: #959595; */
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 1 auto;
}
